@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-full h-screen bg-cover bg-no-repeat bg-mobile md:bg-tablet lg:bg-desktop;
  }
}

@layer components {
  .bg-graphics {
    @apply w-full h-screen;
    background-image: url("./pattern-squiggly-line-top.svg"),
      url("./pattern-squiggly-line-bottom.svg"), url("./pattern-lines.svg"),
      url("./pattern-circle.svg"), url("./pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 100% 7%, bottom left, top, 0% -7%, 85% 55%;
    background-size: auto, auto, cover, auto, auto;

    @media (width < 1024px) {
      background-size: 40%, 80%, cover, 35%, 35%;
      background-position: 100% 4%, bottom left, top, -10% -5%, 125% 60%;
    }

  }
}
